In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()

In [5]:
dummy=pd.get_dummies(df1['Gender'])

In [6]:
dummy.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       0     1

In [7]:
dummy1=pd.get_dummies(df['Gender'],drop_first=True,prefix='Dummy')

In [8]:
dummy1.head()

   Dummy_Male
0           1
1           1
2           1
3           1
4           1

In [9]:
df2.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [10]:
df2.drop('Gender',axis='columns',inplace=True)

In [11]:
df3=pd.concat([df2,dummy1],axis=1)

In [12]:
df3.head()

      Height      Weight  Dummy_Male
0  73.847017  241.893563           1
1  68.781904  162.310473           1
2  74.110105  212.740856           1
3  71.730978  220.042470           1
4  69.881796  206.349801           1

In [13]:
y=df3['Weight']

In [14]:
x=(df3[['Dummy_Male','Height']])

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30)

In [17]:
from sklearn import linear_model

In [18]:
reg=linear_model.LinearRegression()

In [19]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
pred=reg.predict(xtest)

In [22]:
mse=mean_squared_error(ytest,pred)

In [23]:
mse

101.79439410455586

In [24]:
from sklearn.metrics import mean_absolute_error

In [25]:
mae=mean_absolute_error(ytest,pred)

In [26]:
mae

7.99943178066115

In [27]:
df5=df.copy()

In [28]:
df4.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [29]:
dummy1.head()

   Dummy_Male
0           1
1           1
2           1
3           1
4           1

In [30]:
df4.drop('Gender',axis='columns',inplace=True)

In [31]:
df5=pd.concat([df4,dummy1],axis=1)

In [32]:
y1=df3['Weight']

In [33]:
x1=(df3[['Dummy_Male','Height']])

In [34]:
x1train,x1test,y1train,y1test=train_test_split(x1,y1,test_size=.30)

In [35]:
from sklearn.neighbors import KNeighborsRegressor

In [37]:
neigh=KNeighborsRegressor(n_neighbors=11)

In [38]:
neigh.fit(x1,y1)

KNeighborsRegressor(n_neighbors=11)

In [39]:
A=neigh.kneighbors_graph(x1)

In [40]:
A.toarray()

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [58]:
pred1=neigh.predict(x1test)

In [59]:
mse1=mean_squared_error(y1test,pred1)

In [60]:
mse1

96.21671019820246

In [61]:
mae1=mean_absolute_error(y1test,pred1)

In [62]:
mae1

7.709993956401176

In [63]:
df5.head()

      Height      Weight  Dummy_Male  predicted results
0  73.847017  241.893563           1         215.954179
1  68.781904  162.310473           1         185.724685
2  74.110105  212.740856           1         217.524337
3  71.730978  220.042470           1         203.325284
4  69.881796  206.349801           1         192.289034

In [64]:
df5

         Height      Weight  Dummy_Male  predicted results
0     73.847017  241.893563           1         215.954179
1     68.781904  162.310473           1         185.724685
2     74.110105  212.740856           1         217.524337
3     71.730978  220.042470           1         203.325284
4     69.881796  206.349801           1         192.289034
...         ...         ...         ...                ...
8550  60.483946  110.565497           0         116.500417
8551  63.423372  129.921671           0         134.043433
8552  65.584057  155.942671           0         146.938786
8553  67.429971  151.678405           0         157.955532
8554  60.921791  131.253738           0         119.113555

[8555 rows x 4 columns]

In [65]:
df5['predicted results']=neigh.predict(x1)

In [66]:
df5

         Height      Weight  Dummy_Male  predicted results
0     73.847017  241.893563           1         222.444748
1     68.781904  162.310473           1         183.002236
2     74.110105  212.740856           1         215.185162
3     71.730978  220.042470           1         200.653051
4     69.881796  206.349801           1         195.729451
...         ...         ...         ...                ...
8550  60.483946  110.565497           0         117.180888
8551  63.423372  129.921671           0         134.001316
8552  65.584057  155.942671           0         150.005520
8553  67.429971  151.678405           0         157.791741
8554  60.921791  131.253738           0         121.683884

[8555 rows x 4 columns]

In [69]:
reg.predict([[0,60.921791]])

C:\Users\e.haque\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([119.11355551])

# Using K-NN Classifier

In [70]:
df6=df.copy()
df7=df.copy()
df8=df.copy()

In [71]:
df6.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [75]:
dummy1.head()

   Dummy_Male
0           1
1           1
2           1
3           1
4           1

In [76]:
df6.drop('Gender',axis='columns',inplace=True)

In [78]:
df7=pd.concat([df6,dummy1],axis=1)

In [79]:
df7.head()

      Height      Weight  Dummy_Male
0  73.847017  241.893563           1
1  68.781904  162.310473           1
2  74.110105  212.740856           1
3  71.730978  220.042470           1
4  69.881796  206.349801           1

In [80]:
y2=df7['Dummy_Male']

In [81]:
y2.head()

0    1
1    1
2    1
3    1
4    1
Name: Dummy_Male, dtype: uint8

In [ ]:
x2=(df7[''])